html{
    scroll-behavior: smooth;
}

body{
    background-color: #fafafa;
    color: #030303;
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: #252525;
    height: 160px;
    max-width: 100%;
    padding: 0px 120px;
}

.navTop{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

a img{
    padding-top: 50px;
}

.navItem:nth-child(2) form{
    align-items: center;
    background-color: #fafafa;
    border-radius: 8px;
    display: flex;
    height: 12px;
    padding: 14px 16px;
    width: 568px;
}

.navItem:nth-child(2) input{
    background-color: transparent;
    border: none;
    height: 40px;
    outline: none;
    width: 600px;
}

.navItem:nth-child(3){
    display: flex;
    gap: 24px;
    margin-top: 40px;
    position: relative;
}

.navItem:nth-child(3) a, .navBottom a{
    color: #fafafa;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
}

.navBottom{
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.navBottom a{
    font-size: 16px;
    text-decoration: none;
}

.text{
    text-align: center;
    margin-top: 220px;
    margin-bottom: 140px;
}

h2{
    font-weight: 400;
    font-size: 32px;
}

h3{
    font-weight: bold;
    font-size: 32px;
}

.finish-button{
    text-align: center;
    margin-bottom: 120px;
}

.finish{
    color: #ffffff;
    border: none;
    width: 240px;
    height: 60px;
    background-color: #d45473;
    font-size: 20px;
    border-radius: 8px;
    padding: 15px 80px 15px 80px;
    font-weight: bold;
    align-items: center;
    cursor: pointer;
} 