html{
    scroll-behavior: smooth;
}

body{
    background-color: #fafafa;
    color: #1e1e1e;
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: #252525;
    height: 160px;
    max-width: 100%;
    padding: 0px 120px;
}

.navTop{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

a img{
    padding-top: 50px;
}

.navItem:nth-child(2) form{
    align-items: center;
    background-color: #fafafa;
    border-radius: 8px;
    display: flex;
    height: 12px;
    padding: 14px 16px;
    width: 568px;
}

.navItem:nth-child(2) input{
    background-color: transparent;
    border: none;
    height: 40px;
    outline: none;
    width: 600px;
}

.navItem:nth-child(3){
    display: flex;
    gap: 24px;
    margin-top: 40px;
    position: relative;
}

.navItem:nth-child(3) a, .navBottom a{
    color: #fafafa;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
}

.navBottom{
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.navBottom a{
    font-size: 16px;
    text-decoration: none;
}

.logInTitle{
    margin-top: 120px;
    margin-bottom: 80px;
}

.logInTitle h1{
    font-size: 40px;
    font-weight: 400;
    text-align: center;
}

.api * {
    box-sizing: border-box;
    }

    .fb-ig{
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
    }

    .fbbutton {
        background-color: #237ed2;
        border: none;
        width: 180px;
        height: 60px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        padding: 12px 18px 12px 20px;
        cursor: pointer;
        margin-right: 8px;
    }

    .fbicon{
        width: 32px;
        height: 36px;
    }

    .fbtext{
        color: #fafafa;
        font-size: 20px;
        font-weight: 300;
        padding-left: 12px;
    }

    .igbutton {
        background-color: #fafafa;
        border: 1px;
        border-color: #030303;
        width: 180px;
        height: 60px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        padding: 12px 18px 12px 20px;
        cursor: pointer;
        border-style: solid;
    }

    .igicon{
        width: 32px;
        height: 36px;
    }

    .igtext{
        color: #030303;
        font-size: 20px;
        font-weight: 300;
        padding-left: 12px;
    }
    
    .g-x{
        display: flex;
        justify-content: center;
    }

    .gbutton {
        background-color: #F0AE4A;
        border: none;
        width: 180px;
        height: 60px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        padding: 12px 18px 12px 20px;
        cursor: pointer;
        margin-right: 8px;
    }

    .gicon{
        width: 32px;
        height: 36px;
    }

    .gtext{
        color: #fafafa;
        font-size: 20px;
        font-weight: 300;
        padding-left: 12px;
    }
    
    .xbutton {
        background-color: #2590DE;
        border: none;
        width: 180px;
        height: 60px;
        border-radius: 8px;
        display: flex;
        align-items: center;
        padding: 12px 18px 12px 20px;
        cursor: pointer;
    }

    .xicon{
        width: 32px;
        height: 36px;
        color: #fafafa;
    }

    .twittertext{
        color: #fafafa;
        font-size: 20px;
        font-weight: 300;
        padding-left: 12px;
    }

.or h1{
    font-size: 24px;
    font-weight: 400;
    margin-top: 80px;
    margin-bottom: 80px;
    text-align: center;
}

.container{
    display: grid;
    place-items: center;
}

.form{
    width: min-content;
}

label{
    font-size: 24px;
    text-align: left;
    width: 400px;
    height: 40px;
    margin-bottom: 20px;
}

.emailinput, .passwordinput{
    width: 400px;
    height: 40px;
}

.emailinput{
    margin-bottom: 20px;
}

.passwordinput{
    margin-bottom: 8px;
}

.checkbox{
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.checkbox input{
    width: 32px;
    height: 32px;
    box-sizing: border-box
}

.showpassword{
    font-size: 20px;
    font-weight: 400;
}

.forgotpassword{
    text-align: center;
}

.forgotpassword p{
    color: #030303;
    font-size: 20px;
    font-weight: bold;
}

.textRegister{
    margin-bottom: 120px;
    margin-top: 120px;
}

.textRegister a{
    color: #030303;
    text-decoration: none;
}
.textRegister p, .textRegister h3{
    font-size: 20px;
    text-align: center;
}

.textRegister p{
    font-weight: 400;
}

.logInBtn{
    display: grid;
    place-items: center;
    margin-bottom: 120px;
}

.logInTxt{
    background-color: #d45473;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 80px 15px 80px;
    height: 60px;
    width: 240px;
    cursor: pointer;
    text-align: center;
} 