html{
    scroll-behavior: smooth;
}

body{
    background-color: #fafafa;
    color: #030303;
    font-family: 'Inter', sans-serif;
    margin: 0px;
    padding: 0px;
}

nav{
    background-color: #252525;
    height: 160px;
    max-width: 100%;
    padding: 0px 120px;
}

.navTop{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

a img{
    padding-top: 50px;
}

.navItem:nth-child(2) form{
    align-items: center;
    background-color: #fafafa;
    border-radius: 8px;
    display: flex;
    height: 12px;
    padding: 14px 16px;
    width: 568px;
}

.navItem:nth-child(2) input{
    background-color: transparent;
    border: none;
    height: 40px;
    outline: none;
    width: 600px;
}

.navitem:nth-child(3){
    display: flex;
    gap: 24px;
    margin-top: 40px;   
    position: relative;
}

.navItem:nth-child(3) a, .navBottom a{
    color: #fafafa;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
}

.navBottom{
    align-items: center;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.navBottom a{
    font-size: 16px;
    text-decoration: none;
}

.register{
    margin: 120px 0px 80px 0px;
    text-align: center;
}

.register h1{
    font-size: 40px;
    font-weight: 400;
}
.registerLink{
    display: flex;
    text-align: center;

.registerLink a{
    border-color: #d9d9d9;
    border-radius: 8px;
    gap: 40px;
    height: 60px;
    width: 240px;
    
.api * {
    box-sizing: border-box;
    }

    .fb-ig{
        display: flex;
        justify-content: center;
        margin-bottom: 8px;
    }

    .fbBtn {
        align-items: center;
        background-color: #237ed2;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        height: 60px;
        margin-right: 8px;
        padding: 12px 18px 12px 20px;
        width: 180px;
    }

    .fbBtn img{
        height: 36px;
        width: 32px;
    }

    .fbBtn p{
        color: #fafafa;
        font-size: 20px;
        font-weight: 300;
        padding-left: 12px;
    }

    .igBtn{
        align-items: center;
        background-color: #fafafa;
        border: 1px;
        border-color: #030303;
        border-radius: 8px;
        border-style: solid;
        cursor: pointer;
        display: flex;
        height: 60px;
        padding: 12px 18px 12px 20px;
        width: 180px;
    }

    .igBtn img{
        width: 32px;
        height: 36px;
    }

    .igBtn p{
        color: #030303;
        font-size: 20px;
        font-weight: 300;
        padding-left: 12px;
    }
    
    .g-x{
        display: flex;
        justify-content: center;
    }

    .gBtn {
        align-items: center;
        background-color: #F0AE4A;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        height: 60px;
        margin-right: 8px;
        padding: 12px 18px 12px 20px;
        width: 180px;
    }

    .gBtn img{
        height: 36px;
        width: 32px;
    }

    .gBtn p{
        color: #fafafa;
        font-size: 20px;
        font-weight: 300;
        padding-left: 12px;
    }
    
    .xBtn{
        align-items: center;
        background-color: #2590DE;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        height: 60px;
        padding: 12px 18px 12px 20px;
        width: 180px;
    }

    .xBtn img{
        height: 36px;
        width: 32px;
    }

    .xBtn p{
        color: #fafafa;
        font-size: 20px;
        font-weight: 300;
        padding-left: 12px;
    }

.or h1{
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 80px;
    margin-top: 80px;
    text-align: center;
}

.center{
    display: grid;
    place-items: center;
}

.registerForm{
    width: 400px;
}

.registerForm label{
    font-size: 24px;
    font-weight: 400;
    height: 40px;
    margin-bottom: 8px;
}

.registerForm input{
    height: 40px;
    margin-bottom: 32px;
    width: 400px;
}

.checkbox{
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 32px;
}

.checkbox input{
    box-sizing: border-box;
    height: 32px;
    width: 32px;
}

.checkbox label{
    color: #030303;
    font-size: 20px;
    font-weight: 400;
}

.regisText{
    margin-bottom: 120px;
    text-align: center;
}

.regisText p{
    font-size: 24px;
    font-weight: 400;
}

.regisText a{
    color: #030303;
    text-decoration: none;
}

.nextBtn{
    margin-bottom: 120px;
    text-align: center;
}

.nextBtn input{
    align-items: center;
    background-color: #d45473;
    border: none;
    border-radius: 8px;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    padding: 15px 80px 15px 80px;
    width: 240px;
} 
